<section class="block container">
  <header class="block__header">
    <h2>Bio</h2>
    <p class="bio">
      Born and raised in Tokyo, Japan, Roots of Grief is a formidable force in
      the metal music industry. Unquestionably, metal is their primary genre,
      but they also explore the depths of heavy metal, inspiring a fervor among
      their devoted followers. Roots of Grief creates a powerful and engrossing
      soundscape with a combination of violent guitar riffs, booming percussion
      beats, and raw, guttural vocals. Their sound perfectly encapsulates the
      spirit of heavy metal, inspiring feelings of rage, defiance, and
      empowerment. While integrating their own distinct sound and energy, Roots
      of Grief pays respect to the origins of heavy metal, drawing influence
      from the genre's early pioneers. <span id="dots">...</span
      ><span id="more"
        >Their discography is an unrelenting assault of head-banging hits that
        demonstrate their technical mastery and persistent love for the genre.
        Roots of Grief's unquestionable ability and commitment to their art
        create a lasting impression, from crushing breakdowns that shake your
        very foundation to searing solos that soar through the air like a
        thunderstorm. Roots of Grief is a bright spot in the cluttered metal
        music landscape, embodying the fury and intensity that define heavy
        metal. As one of Japan's best metal acts, they have cemented their
        reputation with their unwavering sound and captivating live shows. In
        other words, Roots of Grief is the band to listen to if you're prepared
        to embrace the dark and let loose your inner headbanger. Prepare to be
        overcome by their aural assault and allow the might of heavy metal to
        engulf you.</span
      >
    </p>
    <button class="btn btn--accent" onClick="readMore()" id="moreBtn">
      Read more
    </button>
  </header>
</section>
