<div style="width: 50%; padding: 4rem">
  <div class="plan plan--popular">
    <div class="card card--primary">
      <header class="card__header">
        <h3 class="plan__name">Music</h3>
        <span class="plan__price">1,500</span>
        <span class="plan__available">Stream</span>
        <span class="badge badge--secondary badge--small">10% off</span>
        <span class="plan__description">Listen to this album now please</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item__spotify">Spotify</li>
          <li class="list__item__youtube">Youtube Music</li>
        </ul>
        <button class="btn--outline btn--block">Stream now</button>
      </div>
    </div>
  </div>
</div>
