<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--cols-2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Roots Of Grief</h1>
      <p class="hero__tagline">New album Origins out now</p>
      <a
        href="https://linkco.re/1s4QXtFp?lang=en"
        class="btn btn--accent btn--stretched"
        >Listen now</a
      >
    </header>
    <img class="hero__image" src="images/origins_cover.png" alt="" />
  </div>
</section>
