<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Local shows in and around Tokyo</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus quae
      laudantium expedita debitis quo labore aliquid odio odit, culpa libero
      quos excepturi soluta veritatis numquam minima impedit nisi ab. Ratione,
      cumque. Nostrum dolor quod dolores, rerum dignissimos aperiam quibusdam?
      Sapiente inventore fugit obcaecati atque? Odio praesentium deleniti
      debitis velit ad!
    </p>
  </div>
</div>
