<section class="block container">
  <header class="block__header">
    <h2>Tour</h2>
    <ul class="list block-tour__location">
      <li>
        <span class="badge tour__badge">Upcoming</span>
      </li>
      <li><span class="badge tour__badge">Past</span></li>
      <li><span class="badge tour__badge">Near Me</span></li>
    </ul>
    <p>No upcoming shows</p>
    <p>Be notified- Join our mailing list</p>
  </header>
  <div class="input-group tour__input">
    <input type="text" class="input" placeholder="Enter email..." />
    <button class="btn btn--accent">Submit</button>
  </div>
</section>
